.container {
    padding-left: 5rem;
    padding-right: 5rem;
}

li {
    font-size: 10pt;
}

h2 {
    margin-bottom: 1rem;
}

h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 10pt;
    margin-bottom: 0.3rem;
}

ol,
ul {
    padding-left: 1rem;
}

code {
    margin-left: 3rem;
    color: rgb(69, 122, 178);
}

.img-fluid {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
}


.highlightPass{
    color: green;
    font-weight: bold;
}


th, td {
    font-size: 0.9rem;
  }