@mixin pos {
    position: relative;
}

#app {
    background-color: rgb(241, 242, 246);
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.nav > li > a:hover {
    background-color: #efefef;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

#navbarContainer {
    background-color: rgb(241, 242, 246);
}

.navbar-brand {
    font-size: 14pt;
    color: rgb(69, 122, 178);
    font-weight: 600;
}

.nav-link {
    font-size: 10pt;
    color: rgb(69, 122, 178);
    font-weight: 500;
    padding: 1rem;
}

.bs-docs-header {
    margin-bottom: 40px;
    font-size: 20px;
}

.bs-docs-header h1 {
    margin-top: 0;
    color: #fff;
    text-align: left;
}

.bs-docs-header p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
}

.bs-docs-header .container {
    @include pos;
}

@media (min-width: 768px) {
    .bs-docs-header {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 24px;
        text-align: left;
    }

    .bs-docs-header h1 {
        font-size: 60px;
        line-height: 1;
    }
}

@media (min-width: 992px) {
    .bs-docs-header h1,
    .bs-docs-header p {
        margin-right: 380px;
    }
}

.bs-docs-header {
    @include pos;
    padding: 30px 15px;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #4fc1e9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3bafda), to(#4fc1e9));
    background-image: -webkit-linear-gradient(top, #3bafda 0, #4fc1e9 100%);
    background-image: -o-linear-gradient(top, #3bafda 0, #4fc1e9 100%);
    background-image: linear-gradient(to bottom, #3bafda 0, #4fc1e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3BAFDA', endColorstr='#4FC1E9', GradientType=0);
    background-repeat: repeat-x;
}


