#inspector-panel{
  margin-top: 20px;
  padding-bottom: 20px;
}

div > p,ul{
    margin:6px ;
  }

#all-panel{
  background-color: white;
  display: flex;
  border-bottom: 1px #d6d6d6 solid;
  border-left: 1px #d6d6d6 solid;
  border-right: 1px #d6d6d6 solid;
}

#sub-inspector{
  border-left: 1px #d6d6d6 solid;
  font-size: 14px;
}

.inspector-button{
  font-size: 14px;
}

#dropdown-bedpeaks{
  font-size: 14px;

}

.margin-zero{
  margin: 0;
}

.inspector_attrib_row {
  border-bottom: 1px #d6d6d6 solid;
  font-size: 14px;
}

.inspector_attrib_row1 {
  font-size: 14px;
}

.row .inspector-sub {
  margin-top: 20px;
  margin-bottom: 2em;
}

// .button-list {
//   width: 100%;
//   margin-top: 6px;
//   margin-bottom: 6px;
// }


#inspector-panel .panel-heading
{
  background-color: #dfdfdf;
  color: #434a54;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.panel-heading h2 {
  font-size: 1.2307em;
  font-weight: bold;
  line-height: 1.125;
  padding: 3px;
  margin: 0;
  display: inline-block;
  vertical-align:top
}



.circle {
  background: #A9A9A9;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin: 0 auto;
}

.green {
  background-color: #27ae60;
}

.red {
  background-color: #c0392b;
}

.grey {
  background-color: #A9A9A9;
}

#qc-tables {
  table-layout: fixed;
  word-wrap: break-word;
}

.orange {
  background-color: #ec971f;
}

#qc-circles {
  margin-top: 0px;
  margin-bottom: 0px;
}

.circle-col {
  width: 15%;
  position: relative;
  float: left;
}