// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin pos {
  position: relative;
}

body {
  background-color: rgb(241, 242, 246);
}

.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.nav > li > a:hover {
  background-color: #efefef;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

#navbarContainer {
  background-color: rgb(241, 242, 246);
}

.navbar-brand{
  font-size: 14pt;
  color: rgb(69,122,178);
  font-weight: 600;
}

.nav-link {
  font-size: 10pt;
  color: rgb(69,122,178);
  font-weight: 500;
  padding: 1rem;
}

.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
}

.bs-docs-header h1 {
  margin-top: 0;
  color: #fff;
  text-align: left;
}

.bs-docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}

.bs-docs-header .container {
  @include pos;
}

@media (min-width: 768px) {
  .bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }

  .bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .bs-docs-header h1,
  .bs-docs-header p {
    margin-right: 380px;
  }
}

.bs-docs-header {
  @include pos;
  padding: 30px 15px ;
  color: #cdbfe3;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #4fc1e9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3bafda), to(#4fc1e9));
  background-image: -webkit-linear-gradient(top, #3bafda 0, #4fc1e9 100%);
  background-image: -o-linear-gradient(top, #3bafda 0, #4fc1e9 100%);
  background-image: linear-gradient(to bottom, #3bafda 0, #4fc1e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3BAFDA', endColorstr='#4FC1E9', GradientType=0);
  background-repeat: repeat-x;
}

.tips-info {
  font-size: 0.5rem;
  margin: 0rem;
}

.tight-line {
  margin: 0;
}

.margin-zero {
  margin: 0;
}

.button-list {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.filter h2,
.panel-heading h2 {
  font-size: 1.2307em;
  font-weight: bold;
  line-height: 1.125;
  padding: 3px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.filter label,
#result-panel .panel-heading,
#inspector-panel .panel-heading,
#tools-panel .panel-heading {
  background-color: #efefef;
  color: #434a54;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.filter ul {
  border: none;
  border-top: 1px solid #97b0c8;
  height: 8.5em;
  overflow-y: auto;
  overflow-x: hidden;
}

.collection ul,
.filter ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.collection li,
.filter li {
  display: block;
  cursor: pointer;
}

@mixin check {
  background-color: rgb(79, 193, 233);
  color: #fff;
}

.collection li.checked,
.filter li.checked,
tr.checked {
  @include check;
}

#dataset-table > tbody > tr.checked:hover > td {
  background-color: #3bafda;
}

#dataset-table tbody td,
tr {
  margin: 0;
  padding: 4px;
}

#dataset-table {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px #d6d6d6 solid;
}

table tbody {
  font-size: 1em;
}

#dataset-table tbody tr:hover td {
  cursor: pointer;
}

div.filter {
  float: left;
  width: 100%;
  margin-top: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
}

.aboutBox {
  border-radius: 8px 8px 4px 4px;
  width: 800px;
  border: 2px solid #b6b7bd;
  box-shadow: -1px -2px 1px #b6b7bd inset;
  margin: 20px 20px 20px 20px;
  padding: 20px 10px 10px 20px;
}

div.filter h2 {
  margin: 0;
  padding: 0.2em;
}

.form-inline button.form-control {
  display: block;
  width: 100%;
}

#contain-word {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#around-gene,
#mygene_genes_value {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.inspector_attrib_row {
  border-bottom: 1px #d6d6d6 solid;
  border-right: 1px #d6d6d6 solid;
}

.page-number {
  display: inline;
  vertical-align: middle;
}

#result-panel {
  margin-top: 20px;
  padding-bottom: 3px;
}

#result-panel:hover > .panel-heading,
#inspector-panel:hover > .panel-heading,
#tools-panel:hover > .panel-heading,
.filter:hover > label {
  background-color: #d1d5d8;
}



.tool-content {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}

.circle {
  background: #a9a9a9;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin: 0 auto;
}

.green {
  background-color: #27ae60;
}

.red {
  background-color: #c0392b;
}

.grey {
  background-color: #a9a9a9;
}

#qc-tables {
  table-layout: fixed;
  word-wrap: break-word;
}

.orange {
  background-color: #ec971f;
}

#qc-circles {
  margin-top: 0px;
  margin-bottom: 0px;
}

.circle-col {
  width: 15%;
  position: relative;
  float: left;
}

.row .inspector-sub {
  margin-top: 10px;
  margin-bottom: 1em;
}

div.greyBlock {
  margin-top: 10px;
  background-color: #eee;
}

div.btn-group {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
}

.tooltip-inner {
  max-width: 350px;
  /* If max-width does not work, try using width instead */
  width: 200px;
}

#contain-word-div {
  height: 34px;
}

#contain-word-lab {
  bottom: 5px;
  position: absolute;
}

#contain-word {
  width: 100%;
}

#clear-all {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}
#filter_section > div {
  -webkit-transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}

.float-right {
  float: right;
}

#current-page {
  width: 100%;
}

.top-align {
  vertical-align: top;
}
div.top-align {
  display: inline-block;
  padding-top: 7px;
}

.qc-reports-content-600px {
  height: 600px;
}

@mixin left($value: 45%) {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  margin: 0 auto;
  width: $value;
}

$wd: 70%;

img.motifImg {
  @include left($wd);
}

img.conserv {
  @include left(60%);
}

.table > tbody > tr > td.conserv {
  vertical-align: middle;
  display: table-cell;
}

.table > tbody > tr > td.motif {
  width: 23%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  float: none;
  padding: 8px;
}

.table > thead.motif > tr > th {
  text-align: center;
  display: table-cell;
}

#similar tr.checked {
  @include check;
  &:hover {
    background-color: #3bafda;
    cursor: pointer;
  }
}

#similar tr {
  &:hover {
    @include check;
    cursor: pointer;
  }
}

.listboxclass {
  height: 720px;
  overflow: scroll;
}

#chart {
  background: white;
}

.videogular-container {
  width: 80%;
  height: 450px;
  margin: auto;
  overflow: hidden;
}

.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 400px; // your preference
}

@mixin batch {
  width: 1.25em;
  text-align: center;
  position: fixed;
  margin: 0;
  left: auto;
  right: 30px;
  bottom: 120px;
}

.batch-open-button {
  @include batch;
}
.closebatch {
  background: white;
  color: gray;
  font-size: 35px;
  top: 80px;
}

label.cancel-label:hover {
  background-color: blue;
  font-size: 120%;
  cursor: pointer;
}

.openbatch {
  top: 75px;
  font-size: 45px;
  color: black;
  text-shadow: white 5px 3px 3px;
  background-color: rgb(213, 213, 213);
}

div.batch-list {
  @include batch;
}
