#contain-word-lab {
  bottom: -5px;
  font-size: 14px;
  font-weight: bold;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(68, 117, 173) !important;
  border-color: rgb(68, 117, 173) !important;
}

#filter_section option{
  font-size: 14px;
}

.filter{
  margin-top: 20px;
  padding-bottom: 15px;
}

.filter label,
#result-panel .panel-heading
{
  background-color: #dfdfdf;
  color: #434a54;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

select{
  padding: 0;
  overflow-y: auto;
}

option:checked {
  background: #3BAFDA linear-gradient(0deg, #3BAFDA 0%, #3BAFDA 100%);
  color: white;
}

.filter h2,
.panel-heading h2 {
  font-size: 1.2307em;
  font-weight: bold;
  line-height: 1.125;
  padding: 3px;
  margin: 0;
  display: inline-block;
  vertical-align:top
}


#result-panel {
  margin-top: 20px;
  // padding-bottom: 0px;
}

table  tbody {
  font-size: 14px;
  background: white;
}

table  thead {
  background: white;
  font-size: 14px;

}

#dataset-table tbody td, tr {
  margin: 0;
  padding: 4px;
}

#dataset-table input {
  width: 20px;
  position: relative;
  left: 20px;
  vertical-align: middle;
}

.circle {
  background: #A9A9A9;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin: 0 auto;
}

.green {
  background-color: #27ae60;
}

.red {
  background-color: #c0392b;
}

.grey {
  background-color: #A9A9A9;
}

#qc-tables {
  table-layout: fixed;
  word-wrap: break-word;
}

.orange {
  background-color: #ec971f;
}

#qc-circles {
  margin-top: 0px;
  margin-bottom: 0px;
}

.circle-col {
  width: 15%;
  position: relative;
  float: left;
}

#page-button{
  margin-top: 0px;
  padding-bottom: 3px;
}

#page {
  margin-left: 5px;
  margin-right: 5px;
  // padding-bottom: 15px;
}

#of {
  margin-left: 5px;
  margin-right: 2.5px;
}

#num-pages {
  margin-left: 2.5px;
  margin-right: 5px;
}

#goto-page-button {
  margin-left: 5px;
}

// input::-webkit-input-placeholder{
//   color: black;
// }

div > b-icon{
  // visibility: visible,
    color: red;
    background-color: #ec971f;



}


.search-button{
  font-size: 14px;
}

.option-item{
  font-size: 14px;

}



#change-page{
  margin-top: -15px;

  background-color: white;

}


