.panel-heading h2 {
  font-size: 1.2307em;
  font-weight: bold;
  line-height: 1.125;
  padding: 3px;
  margin: 0;
  display: inline-block;
  vertical-align:top
}

#tools-panel:hover > .panel-heading,
.filter:hover > label {
  background-color:#D1D5D8;
}



#panel-body{
  background-color:white;
}


#tools-panel .panel-heading
{
  background-color: #dfdfdf;
  color: #434a54;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.table-row {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.target-table-row {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.panel-heading h2 {
  font-size: 1.2307em;
  font-weight: bold;
  line-height: 1.125;
  padding: 3px;
  margin: 0;
  display: inline-block;
  vertical-align:top
}

.panel-body{
  background-color:white;
  font-size: 14px;
}