<template>
  <div class="container-fluid" id="admin">
    <transition name="fade">
      <Loading v-if="isLoading"></Loading>
    </transition>
    <div class="container">
      <AdminDoc :username="username" :logoutLink="loginUrl" />
    </div>
    <div class="pb-5">
      <b-tabs class="nav-justified">
        <b-tab title="Unsolved" active @click="loadCorrection(0)">
          <div class="container-fluid">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <tr>
                    <th>CistromeDB ID</th>
                    <th>Raw Link</th>
                    <th>Treatment</th>
                    <th>Species</th>
                    <th>PMID</th>
                    <th>Factor</th>
                    <th>Factor Type</th>
                    <th>Cell Line</th>
                    <th>Cell Type</th>
                    <th>Cell Pop</th>
                    <th>Strain</th>
                    <th>Tissue</th>
                    <th>Disease</th>
                    <th>Time</th>
                    <th>Comment</th>
                    <th>Email</th>
                    <th width="110">Management</th>
                  </tr>
                  <tr v-for="correct in corrections" :key="correct.id">
                    <td>
                      <a
                        :href="url +'inspector?id=' + correct.dc_id_id"
                        target="_blank"
                      >{{correct.dc_id_id}}</a>
                    </td>
                    <td>
                      <a :href="correct.link" target="_blank">{{correct.dc_id__unique_id}}</a>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_name,correct.treatment)}"
                        v-model="correct.treatment"
                      ></textarea>
                      <span>{{correct.raw_name}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_species,correct.species)}"
                        v-model="correct.species"
                      ></textarea>
                      <span>{{correct.raw_species}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_species,correct.species)}"
                        v-model="correct.pmid"
                      ></textarea>
                      <span>{{correct.raw_pmid}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_factor,correct.factor)}"
                        v-model="correct.factor"
                      ></textarea>
                      <span>{{correct.raw_factor}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_factor_type,correct.factor_type)}"
                        v-model="correct.factor_type"
                      ></textarea>
                      <span>{{correct.raw_factor_type}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_cell_line,correct.cell_line)}"
                        v-model="correct.cell_line"
                      ></textarea>
                      <span>{{correct.raw_cell_line}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_cell_type,correct.cell_type)}"
                        v-model="correct.cell_type"
                      ></textarea>
                      <span>{{correct.raw_cell_type}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_cell_pop,correct.cell_pop)}"
                        v-model="correct.cell_pop"
                      ></textarea>
                      <span>{{correct.raw_cell_pop}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_strain,correct.strain)}"
                        v-model="correct.strain"
                      ></textarea>
                      <span>{{correct.raw_strain}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_tissue,correct.tissue)}"
                        v-model="correct.tissue"
                      ></textarea>
                      <span>{{correct.raw_tissue}}</span>
                    </td>
                    <td>
                      <textarea
                        class="form-control"
                        :style="{color: commentUniColor(correct.raw_disease,correct.disease)}"
                        v-model="correct.disease"
                      ></textarea>
                      <span>{{correct.raw_disease}}</span>
                    </td>
                    <td>{{correct.time}}</td>
                    <td>{{correct.comment}}</td>
                    <td>{{correct.email}}</td>
                    <td>
                      <b-button
                        variant="danger"
                        size="sm"
                        class="m-1"
                        @click="changeStatus(correct.id,-1,0)"
                      >
                        <b-icon icon="x" aria-hidden="true"></b-icon>
                      </b-button>
                      <b-button
                        variant="success"
                        size="sm"
                        class="m-1"
                        @click="postCorrection(correct.id, correct.dc_id_id, correct.treatment, correct.species, 
                        correct.pmid, correct.factor, correct.factor_type, correct.cell_line, correct.cell_type, 
                        correct.cell_pop, correct.strain, correct.tissue, correct.disease)"
                      >
                        <b-icon icon="check" aria-hidden="true"></b-icon>
                      </b-button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </b-tab>
        <b-tab title="Verified" @click="loadCorrection(1)">
          <div class="container-fluid">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <tr>
                    <th>CistromeDB ID</th>
                    <th>Raw Link</th>
                    <th>Treatment</th>
                    <th>Species</th>
                    <th>PMID</th>
                    <th>Factor</th>
                    <th>Cell Line</th>
                    <th>Cell Type</th>
                    <th>Cell Pop</th>
                    <th>Strain</th>
                    <th>Tissue</th>
                    <th>Disease</th>
                    <th>Time</th>
                    <th>Comment</th>
                    <th>Email</th>
                    <th width="50">Management</th>
                  </tr>
                  <tr v-for="correct in corrections" :key="correct.id">
                    <td>
                      <a
                        :href="url +'inspector?id=' + correct.dc_id_id"
                        target="_blank"
                      >{{correct.dc_id_id}}</a>
                    </td>
                    <td>
                      <a :href="correct.link" target="_blank">{{correct.dc_id__unique_id}}</a>
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_name,correct.treatment)}"
                      >{{correct.treatment}}</font>
                      <br />
                      {{correct.raw_name}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_species,correct.species)}"
                      >{{correct.species}}</font>
                      <br />
                      {{correct.raw_species}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_pmid,correct.pmid)}"
                      >{{correct.pmid}}</font>
                      <br />
                      {{correct.raw_pmid}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_factor,correct.factor)}"
                      >{{correct.factor}}</font>
                      <br />
                      {{correct.raw_factor}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_cell_line,correct.cell_line)}"
                      >{{correct.cell_line}}</font>
                      <br />
                      {{correct.raw_cell_line}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_cell_type,correct.cell_type)}"
                      >{{correct.cell_type}}</font>
                      <br />
                      {{correct.raw_cell_type}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_cell_pop,correct.cell_pop)}"
                      >{{correct.cell_pop}}</font>
                      <br />
                      {{correct.raw_cell_pop}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_strain,correct.strain)}"
                      >{{correct.strain}}</font>
                      <br />
                      {{correct.raw_strain}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_tissue,correct.tissue)}"
                      >{{correct.tissue}}</font>
                      <br />
                      {{correct.raw_tissue}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_disease,correct.disease)}"
                      >{{correct.disease}}</font>
                      <br />
                      {{correct.raw_disease}}
                    </td>
                    <td>{{correct.time}}</td>
                    <td>{{correct.comment}}</td>
                    <td>{{correct.email}}</td>
                    <td>
                      <b-button variant="warning" size="sm" class="m-1" @click="reEdit(correct.id)">
                        <b-icon icon="pencil-square" aria-hidden="true" style="color: #FFFFFF;"></b-icon>
                      </b-button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </b-tab>
        <b-tab title="Deleted" @click="loadCorrection(-1)">
          <div class="container-fluid">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <tr>
                    <th>CistromeDB ID</th>
                    <th>Raw Link</th>
                    <th>Treatment</th>
                    <th>Species</th>
                    <th>PMID</th>
                    <th>Factor</th>
                    <th>Cell Line</th>
                    <th>Cell Type</th>
                    <th>Cell Pop</th>
                    <th>Strain</th>
                    <th>Tissue</th>
                    <th>Disease</th>
                    <th>Time</th>
                    <th>Comment</th>
                    <th>Email</th>
                    <th width="110">Management</th>
                  </tr>
                  <tr v-for="correct in corrections" :key="correct.id">
                    <td>
                      <a
                        :href="url +'inspector?id=' + correct.dc_id_id"
                        target="_blank"
                      >{{correct.dc_id_id}}</a>
                    </td>
                    <td>
                      <a :href="correct.link" target="_blank">{{correct.dc_id__unique_id}}</a>
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_name,correct.treatment)}"
                      >{{correct.treatment}}</font>
                      <br />
                      {{correct.raw_name}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_species,correct.species)}"
                      >{{correct.species}}</font>
                      <br />
                      {{correct.raw_species}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_pmid,correct.pmid)}"
                      >{{correct.pmid}}</font>
                      <br />
                      {{correct.raw_pmid}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_factor,correct.factor)}"
                      >{{correct.factor}}</font>
                      <br />
                      {{correct.raw_factor}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_cell_line,correct.cell_line)}"
                      >{{correct.cell_line}}</font>
                      <br />
                      {{correct.raw_cell_line}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_cell_type,correct.cell_type)}"
                      >{{correct.cell_type}}</font>
                      <br />
                      {{correct.raw_cell_type}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_cell_pop,correct.cell_pop)}"
                      >{{correct.cell_pop}}</font>
                      <br />
                      {{correct.raw_cell_pop}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_strain,correct.strain)}"
                      >{{correct.strain}}</font>
                      <br />
                      {{correct.raw_strain}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_tissue,correct.tissue)}"
                      >{{correct.tissue}}</font>
                      <br />
                      {{correct.raw_tissue}}
                    </td>
                    <td>
                      <font
                        :style="{color: commentUniColor(correct.raw_disease,correct.disease)}"
                      >{{correct.disease}}</font>
                      <br />
                      {{correct.raw_disease}}
                    </td>
                    <td>{{correct.time}}</td>
                    <td>{{correct.comment}}</td>
                    <td>{{correct.email}}</td>
                    <td>
                      <b-button
                        variant="danger"
                        size="sm"
                        class="m-1"
                        @click="changeStatus(correct.id,-2,-1)"
                      >
                        <b-icon icon="trash" aria-hidden="true"></b-icon>
                      </b-button>
                      <b-button
                        variant="warning"
                        size="sm"
                        class="m-1"
                        @click="changeStatus(correct.id,0,-1)"
                      >
                        <b-icon icon="pencil" aria-hidden="true" style="color: #FFFFFF"></b-icon>
                      </b-button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </b-tab>
      </b-tabs>
    </div>
  </div>
</template>


<script>
import AdminDoc from "@/components/admin_doc.vue";
import Loading from "@/components/loadingAnimate";
import axios from "axios";
export default {
  name: "admin",
  components: {
    AdminDoc,
    Loading
  },
  data() {
    return {
      isLoading: true,
      username: "Cistrome",
      url: axios.defaults.baseURL,
      loginUrl: this.url + "",
      corrections: [{}]
    };
  },

  created() {
    this.isLoading = false;
    this.correctionCheckLogin();
    this.loadCorrection(0);
  },
  methods: {
    correctionCheckLogin: function() {
      this.isLoading = true;
      axios({
        url: "accounts/check/",
        method: "get",
        withCredentials: true
      }).then(msg => {
        if (msg.data.status === "login") {
          this.username = msg.data.username;
          this.loginUrl = this.url + "accounts/logout";
        } else {
          alert("You Need To Login!");
          this.loginUrl = this.url + "accounts/login";
          window.location.href = this.loginUrl;
        }
      });
      this.isLoading = false;
    },
    // status meaning: 0 -> unsolved; 1 -> verified; -1 -> deleted; -2 -> destroyed
    loadCorrection: function(status) {
      this.correctionCheckLogin();
      this.isLoading = true;
      axios({
        url: "comment_filter/",
        method: "get",
        withCredentials: true,
        params: {
          status: status
        }
      }).then(res => {
        this.corrections = res.data.corrects;
        this.isLoading = false;
      });
    },
    commentUniColor: function(raw, now) {
      // Show different color to check the data easily
      if (raw === now) {
        return "#888888"; // Grey
      } else {
        return "#FF0000"; // Red
      }
    },
    changeStatus: function(id, tostatus, status) {
      this.correctionCheckLogin();
      this.isLoading = true;
      return axios({
        method: "POST",
        data: {
          id: id,
          tostatus: tostatus
        },
        url: this.url + "change_status/",
        headers: {
          "Content-Type": "application/json"
        },
        withCredentials: true
      })
        .then(res => {
          this.isLoading = false;
          alert(res.data);
          this.loadCorrection(status);
        })
        .catch(res => {
          console.log(res);
        });
    },
    postCorrection: function(
      co_id,
      dc_id,
      treatment,
      species,
      pmid,
      factor,
      factor_type,
      cell_line,
      cell_type,
      cell_pop,
      strain,
      tissue,
      disease
    ) {
      this.correctionCheckLogin();
      if (
        confirm(
          "Are you sure to submit the correction? The record in Cistrome Database will be modified."
        )
      ) {
        this.isLoading = true;
        return axios({
          method: "POST",
          data: {
            co_id: co_id,
            dc_id: dc_id,
            treatment: treatment,
            species: species,
            pmid: pmid,
            factor: factor,
            factor_type: factor_type,
            cell_line: cell_line,
            cell_type: cell_type,
            cell_pop: cell_pop,
            strain: strain,
            tissue: tissue,
            disease: disease
          },
          url: this.url + "verify/",
          headers: {
            "Content-Type": "application/json"
          },
          withCredentials: true
        })
          .then(res => {
            this.isLoading = false;
            alert(res.data);
            this.loadCorrection(0);
          })
          .catch(res => {
            console.log(res);
          });
      }
    },
    reEdit: function(id) {
      this.correctionCheckLogin();
      if (
        confirm(
          "Are you sure to reedit this correction? The Cistrome Database record will be resumed."
        )
      ) {
        this.isLoading = true;
        return axios({
          method: "POST",
          data: {
            co_id: id
          },
          url: this.url + "edit/",
          headers: {
            "Content-Type": "application/json"
          },
          withCredentials: true
        })
          .then(res => {
            this.isLoading = false;
            alert(res.data);
            this.loadCorrection(1);
          })
          .catch(res => {
            console.log(res);
          });
      }
    }
  }
};
</script>


<style scoped lang="sass">
@import "../styles/document.scss"
</style>