<template>
  <div class="bdown container">
    <h1 style="text-align:center;color: #0099CC">Cistrome Data Available</h1>
    <p style="text-align:center; color: red">
      This batch download has been updated as our
      <a
        href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gky1094/5193328"
        target="_blank"
      >new publication</a> on Nucleic Acid Research.
    </p>
    <div class="container">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="It is required that you provide your institutional e-mail address as confirmation of your affiliation."
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
          <b-form-input id="input-2" v-model="form.name" required placeholder="Enter name"></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Lab PI:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="form.PI"
            required
            placeholder="Enter your lab PI's name"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-4" label="Institute:" label-for="input-4">
          <b-form-input
            id="input-4"
            v-model="form.institute"
            required
            placeholder="Enter your university or institute name"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="selector-group-1" label="Data type you want:" label-for="selector-1">
          <b-form-select
            id="selector-1"
            v-model="form.datatype"
            :options="datatype"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group id="check-group-1">
          <label style="color:red; font-weight:bold">Term of Usage:</label>
          <label>
            CistromeDB, also known as Cistrome Datasets Browser, is a Database of
            ChIP-seq, Chromatin Accessibility data.
            <b>
              You may download the content of the
              Database free of charge under the following conditions:
            </b>
          </label>
          <b-form-checkbox-group v-model="form.checked" id="checkboxes-1">
            <b-form-checkbox value="1">
              I agree
              <font color="red">
                <b>NOT</b>
              </font> to make the CistromeDB (or any part thereof, modified or not)
              available to anyone outside your research group.
              <i>
                "Make available" includes
                leaving the data where it may be accessible to outside individuals without
                your direct knowledge (e.g. on a computer to which people outside your group
                have login privileges), as well as directly providing it to someone.
              </i>
            </b-form-checkbox>
            <b-form-checkbox value="2">
              I agree
              <font color="red">
                <b>NOT</b>
              </font> to build another website using the download data.
              Please contact us if you are going to.
            </b-form-checkbox>
            <b-form-checkbox value="3">
              I agree
              <font color="red">
                <b>NOT</b>
              </font> to use the download data for proprietary analysis. I
              <font color="green">
                <b>agree</b>
              </font> to
              properly cite the Database and its specific, original contributions if directly
              related to your work.
              <li style="font-size:0.5rem" class="mb-0">
                Zheng R, Wan C, Mei S, Qin Q, Wu Q, Sun H, Chen CH, Brown M, Zhang X, Meyer CA, Liu XS.
                Cistrome Data Browser: expanded datasets and new tools for gene regulatory analysis.
                Nucleic Acids Res, 2018 Nov 20.
                <a
                  href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gky1094/5193328"
                  target="_blank"
                >Doi: 10.1093/nar/gky1094</a>
              </li>
              <li style="font-size:0.5rem" class="mb-0">
                Mei S, Qin Q, Wu Q, Sun H, Zheng R, Zang C, Zhu M, Wu J, Shi X, Taing L, Liu T, Brown M,
                Meyer CA, Liu XS. Cistrome data browser: a data portal for ChIP-Seq and chromatin accessibility
                data in human and mouse. Nucleic Acids Res, 2017 Jan 4;45(D1):D658-D662.
                <a
                  href="https://academic.oup.com/nar/article/45/D1/D658/2333932"
                  target="_blank"
                >Doi: 10.1093/nar/gkw983</a>
              </li>
            </b-form-checkbox>
            <b-form-checkbox value="4">
              I
              <font color="green">
                <b>certify</b>
              </font> that I am authorized to accept this agreement on behalf of your institution.
            </b-form-checkbox>
            <b-form-checkbox value="5">
              All members of my group with access to the Database
              <font color="green">
                <b>agree</b>
              </font> to the same conditions.
            </b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </div>
    <br />
    <!-- <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card> -->
    <br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        name: "",
        PI: "",
        institute: "",
        datatype: null,
        checked: []
      },
      datatype: [
        { text: "Select One", value: null },
        "Human Transcription Factor",
        "Human Histone Modification",
        "Human Chromatin Accessibility",
        "Mouse Transcription Factor",
        "Mouse Histone Modification",
        "Mouse Chromatin Accessibility"
      ],
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.PI = "";
      this.form.institute = "";
      this.form.checked = [];
      this.form.datatype = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>  