<template>
  <div class="container">
    <div class="row pl-3 pr-3 ml-3 mr-3">
      <div class="col-12">
        <h2>Cite us:</h2>
        <ul>
          <li>
            Zheng R, Wan C, Mei S, Qin Q, Wu Q, Sun H, Chen CH, Brown M, Zhang X, Meyer CA, Liu XS.
            Cistrome Data Browser: expanded datasets and new tools for gene regulatory analysis.
            Nucleic Acids Res, 2018 Nov 20.
            <a
              href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gky1094/5193328"
              target="_blank"
            >Doi: 10.1093/nar/gky1094</a>
          </li>
          <li>
            Mei S, Qin Q, Wu Q, Sun H, Zheng R, Zang C, Zhu M, Wu J, Shi X, Taing L, Liu T, Brown M, Meyer CA, Liu XS.
            Cistrome data browser: a data portal for ChIP-Seq and chromatin accessibility data in human and mouse.
            Nucleic Acids Res, 2017 Jan 4;45(D1):D658-D662.
            <a
              href="https://academic.oup.com/nar/article/45/D1/D658/2333932"
              target="_blank"
            >Doi: 10.1093/nar/gkw983</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div>
          <h2>Quick start Guideline</h2>
          <p>Users can start their data mining by the following instruction.</p>
        </div>
        <div>
          <h4>1. Search your interesting assay, cell or tissue</h4>
          <p>
            Cistrome DB contains two options for searching the database. One is to select assay, species or
            biological sources, and the other is based on advanced searching box. Searching result will list with a
            table of matched datasets. User can view detail data annotations, analysis result and QC metric by click
            dataset.
          </p>
        </div>
        <img src="../assets/documents/1.png" class="img-fluid mx-auto d-block" />
        <div>
          <h4>2. Result page for individual dataset</h4>
          <p>
            Each ChIP-seq and DNase-seq sample have a unique dataset ID, Cistrome DB comprises manually curated
            metadata annotations for each dataset, including species, factors, biological source, publication and
            process status. After clicking interested dataset, result page for individual sample will shows as
            follows. Result page contains detail metadata annotations, quality control report, analysis result and
            download section. User can also send data to our Cistrome analysis pipeline for subsequential analysis.
            Details explanation of QC sees in
            <a
              href="http://cistrome.org/chilin/_downloads/instructions.pdf"
            >ChiLin document</a>.
          </p>
          <img src="../assets/documents/2.png" class="img-fluid mx-auto d-block" />
          <img src="../assets/documents/3.png" class="img-fluid mx-auto d-block" />
        </div>
        <div>
          <h4>3. Batch samples genome browser display</h4>
          <p>
            Besides metadata collection and data processing. CistromeDB also provide users batch data view function.
            After selected interested dataset, user can send data to genome browser for association study, such as
            co-factors, relationship between chromatin regulators and histone modifications.
          </p>
        </div>
        <img src="../assets/documents/7.png" class="img-fluid mx-auto d-block" />
        <div>
          <h4>4. Get ChIP-seq putative targets and search interesting targets</h4>

          <p>
            To help user quickly locate putative targets. Cistrome DB provided two options for putative targets
            view. On the one hand, user can get whole list of putative targets by click "get top putative targets"
            menu. On the other hand, user can also enter the gene symbols to search intersected target.
          </p>
        </div>
        <div>
          <img src="../assets/documents/6.png" class="img-fluid mx-auto d-block" />
        </div>
      </div>
    </div>
  </div>
</template>


<style scoped lang="sass">
@import "../styles/document.scss"
</style>