<template>
  <div class="pb-5">
    <Tips></Tips>
    <resulttable test="id"></resulttable>
    <inspectorPanel></inspectorPanel>
    <toolPanel></toolPanel>
  </div>
</template>

<script>
import Tips from "../components/tips.vue";
import resulttable from "../components/resulttable.vue";
import inspectorPanel from "../components/inspectorPanel.vue";
import toolPanel from "../components/toolPanel.vue";

export default {
  name: "Home",
  components: { Tips, resulttable, inspectorPanel, toolPanel}
};
</script>



