<template>
  <div class="container">
    <div class="row">
      <h3>Cistrome Data Browser Samples statistics</h3>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <table class="table table-striped table-bordered table-hover text-center">
            <thead>
              <tr class="text-center">
                <th class="text-center">Species</th>
                <th class="text-center">Homo sapiens</th>
                <th class="text-center">Mus musculus</th>
                <th class="text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Factors</td>
                <td>11348</td>
                <td>9060</td>
                <td>20408</td>
              </tr>
              <tr>
                <td>Histone Marks and Variants</td>
                <td>11080</td>
                <td>10944</td>
                <td>22024</td>
              </tr>
              <tr>
                <td>Chromatin Accessibility</td>
                <td>2413</td>
                <td>2358</td>
                <td>4771</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>24841</td>
                <td>22362</td>
                <td>47203</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
        <!-- Completed datasets: All the ChIP-seq and chromatin accessibility profiles collected from GEO and ENCODE site before <b>2016.1.4</b>. -->
      </div>
    </div>
    <div class="row">
      <img src="http://cistrome.org/db/all_sample_count.png" />
    </div>
    <div class="row">
      <h3>Cistrome DB visits in the recent years:</h3>
    </div>
    <img src="http://cistrome.org/db/visit_barplot.png" />
    <div>
      <h3>Cistrome DB visits in the recent 30 days:</h3>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div id="chart"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" id="widgetIframe">
        <iframe
          width="100%"
          height="190"
          src="http://cistrome.org/matomo/index.php?module=Widgetize&action=iframe&forceView=1&viewDataTable=graphEvolution&disableLink=0&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite=2&period=day&date=yesterday&disableLink=1&widget=1"
          scrolling="no"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
        ></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" id="widgetIframe">
        <iframe
          width="100%"
          height="550"
          src="http://cistrome.org/matomo/index.php?module=Widgetize&action=iframe&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=visitorMap&idSite=2&period=range&date=2015-05-29,today&disableLink=1&widget=1"
          scrolling="no"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
        ></iframe>
      </div>
    </div>
  </div>
</template>
