<template>
  <div>
    <h1>Administration Page of Cistrome DB Annotations</h1>
    <br />
    <br />
    <p style="color: blue" align="right">
      <b>
        Hello {{username}}!
        <a :href="logoutLink">Logout</a> here.
        <br />Please read the instruction before checking the corrections.
      </b>
    </p>
    <h2>Instruction</h2>
    <p>You are allowed to manage the corrections of annotations on Cistrome Data Browser here.</p>
    <p>
      There are three tables exhibiting the corrections in database. The
      <b>"Unsolved"</b> tab shows the corrections that you haven't checked, the
      <b>"Verified"</b> tab shows the corrections you have already checked and modified in sample database and the last
      <b>"Deleted"</b> tab shows the useless corrections that you have checked and deleted.
    </p>
    <p>
      Each table cells contain two rows, the first row exhibits the values that users submitted and the other row shows the raw data got from database. The first row will be in
      <b
        style="color: red"
      >red</b> color if the users summited values are
      <b>different</b> from the raw values in database.
    </p>
    <h4>Unsolved tab</h4>
    <p>
      In this tab, you can check and modify the values that users submitted. The texts in textareas will be
      <b
        style="color: red"
      >red</b> if they are
      <b>different</b> from raw data and remind you to check them carefully to avoid making mistakes.
    </p>
    <p>The first two columns are the Cistrome Database ID and GSM number of this record. When you click them, they will link to the Cistrome Database inspector api and NCBI records of this sample. In other rows who has textarea, you should check and modify them. The red color just means the values are different.</p>
    <p>
      Here are two options that you can operate. The
      <b-icon icon="x" aria-hidden="true" variant="danger" font-scale="1.3"></b-icon>button will move this record to the "Deleted" Tab, and the
      <b-icon icon="check" aria-hidden="true" variant="success" font-scale="1.3"></b-icon>button will
      <b style="color: red">change the raw record</b> in Cistrome Database and move this record to "Verified" Tab.
    </p>
    <p>
      As for "Factor Type" column, you are suppose to input one of
      <b>"hm"</b>(Histone modification),
      <b>"ca"</b>(Chromatin accessibility),
      <b>"tf"</b>(Transcription Factor),
      <b>"cr"</b>(Chromatin regulator),
      <b>"not sure"</b> and
      <b>"other"</b>. However, if you are not sure a factor is exactly behaved as a "tf" but looks like a "tf", you are allowed to input like this:
      <b>"predicted transcription factor"</b>(Full name will be appreciated.), or a factor takes part in more than one biological processes, you are allowed to input like this:
      <b>"both predicted transcription factor and chromatin regulator"</b>.
    </p>
    <h4>Verified tab</h4>
    <p>In this tab, you can find what you have modified. In each cell, the first row shows the what are these records now in Cistrome Database and the other row shows the record when weren't changed.</p>
    <p>
      Here is an option that you can operate. The
      <b-icon icon="pencil-square" aria-hidden="true" variant="warning" font-scale="1.3"></b-icon>button will move this record to the "Unsolved" Tab and resume Cistrome Database record.
    </p>
    <h4>Deleted tab</h4>
    <p>In this tab, you will find the records you have deleted. Same as the "Unsolved" tab, the first row exhibits the values that users submitted and the other row shows the raw data got from database.</p>
    <p>
      Here are two options that you can operate. The
      <b-icon icon="trash" aria-hidden="true" variant="danger" font-scale="1.3"></b-icon>button will delete this record and you won't find it unless check the MySQL tables, and the
      <b-icon icon="pencil" aria-hidden="true" variant="warning" font-scale="1.3"></b-icon>button will move this record to the "Unsolved" Tab for checking it later.
    </p>
    <br />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class AdminDoc extends Vue {
  @Prop() private username!: string;
  @Prop() private logoutLink!: string;
}
</script>

<style scoped lang="sass">
@import "../styles/document.scss"
</style>
