<template>
  <div>
    <transition name="fade">
      <Loading v-if="isLoading"></Loading>
    </transition>
    <b-container>
      <div class="row" v-if="inspector.status">
        <div class="col-sm-12">
          <div class="panel panel-default" id="inspector-panel">
            <div class="panel-heading">
              <h2>Inspector</h2>
            </div>
            <!-- <div class="panel-body " style="padding: 0;"> -->
            <div class="col-sm-12" id="all-panel">
              <b-row class="justify-content-md-center">
                <b-col cols="9" id="sub-info">
                  <div class="row inspector_attrib_row">
                    <div class="col-sm-3">
                      <b>Title:</b>
                    </div>
                    <div class="col-sm-9">
                      <b>Treatment</b>
                      <ul>
                        <li>
                          <a
                            :href="inspector.treats[0].link"
                            v-text="inspector.treats[0].name"
                            target="_blank"
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row inspector_attrib_row">
                    <div class="col-sm-3">
                      <b>GEO or ENCODE:</b>
                    </div>
                    <div class="col-sm-9">
                      <b>ID</b>
                      <ul>
                        <li>
                          <a
                            :href="inspector.treats[0].link"
                            v-text="inspector.treats[0].unique_id"
                            target="_blank"
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row inspector_attrib_row">
                    <div class="col-sm-3">
                      <b>Species:</b>
                    </div>
                    <div class="col-sm-9">
                      <p v-text="inspector.treats[0].species__name"></p>
                    </div>
                  </div>
                  <div class="row inspector_attrib_row">
                    <div class="col-sm-3">
                      <b>Citation:</b>
                    </div>
                    <div class="col-sm-9">
                      <p v-text="inspector.treats[0].paper__reference"></p>
                      <p>
                        <a
                          :href="'https://www.ncbi.nlm.nih.gov/pubmed/'+inspector.treats[0].paper__pmid"
                          v-text="'PMID: '+inspector.treats[0].paper__pmid"
                        ></a>
                      </p>
                    </div>
                  </div>
                  <div
                    class="row inspector_attrib_row"
                    style="position:relative;;margin-bottom: 0px;"
                    id="insfactor"
                  >
                    <div class="col-sm-3">
                      <b>Factor:</b>
                    </div>
                    <div class="col-sm-9">
                      <p v-text="inspector.treats[0].factor__name"></p>
                    </div>
                  </div>
                  <div class="row inspector_attrib_row1">
                    <div class="col-sm-3">
                      <b>Biological Source:</b>
                    </div>
                    <div class="col-sm-9">
                      <p class="tight-line" v-if="inspector.treats[0].cell_line__name">
                        <b>Cell line:</b>
                        {{inspector.treats[0].cell_line__name}}
                      </p>
                      <p class="tight-line" v-if="inspector.treats[0].cell_type__name">
                        <b>Cell type:</b>
                        {{inspector.treats[0].cell_type__name}}
                      </p>
                      <p class="tight-line" v-if="inspector.treats[0].cell_pop__name">
                        <b>Cell population:</b>
                        {{inspector.treats[0].cell_pop__name}}
                      </p>
                      <p class="tight-line" v-if="inspector.treats[0].strain__name">
                        <b>Strain:</b>
                        {{inspector.treats[0].strain__name}}
                      </p>
                      <p class="tight-line" v-if="inspector.treats[0].tissue_type__name">
                        <b>Tissue type:</b>
                        {{inspector.treats[0].tissue_type__name}}
                      </p>
                      <p class="tight-line" v-if="inspector.treats[0].disease_state__name">
                        <b>Disease:</b>
                        {{inspector.treats[0].disease_state__name}}
                      </p>
                    </div>
                  </div>
                  <div class="pb-3">
                    <button
                      target="_blank"
                      @click="comment()"
                      type="button"
                      class="btn btn-warning"
                      style="color:white;"
                    >Meta-data Correction</button>
                  </div>
                  <div class="row" v-if="commentBox">
                    <div class="col-12">
                      <form role="form" class="form-horizontal" name="comform">
                        <div class="input-group">
                          <div class="col-md-12 col-md-offset-1">
                            <br />
                            <p class="lead text-info">
                              <strong>
                                Please fill in your correction in this page.
                                <br />
                              </strong>
                            </p>
                            <div
                              class="comment-warning"
                              v-if="inspector.treats[0].is_correcting"
                              style="color: red"
                            >
                              <p>
                                <b>A submitted correction has been received, we are checking.</b>
                              </p>
                            </div>
                            <div class="row m-0">
                              <div class="col-sm-6 pl-0">
                                <p>
                                  <label>Treatment:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Species:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].species__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>PMID:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].paper__pmid"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Factor:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].factor__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Cell Line:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].cell_line__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Comment (Optional):</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="commentContent"
                                    @input="input_changed()"
                                    placeholder="Leave Your Comment Here."
                                    autocomplete="off"
                                  />
                                </p>
                              </div>
                              <div class="col-sm-6 pr-0">
                                <p>
                                  <label>Cell Type:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].cell_type__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Cell Pop:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].cell_pop__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Strain:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].strain__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Tissue:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].tissue_type__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Disease:</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="inspector.treats[0].disease_state__name"
                                    @input="input_changed()"
                                    autocomplete="off"
                                  />
                                </p>
                                <p>
                                  <label>Email Address (Optional):</label>
                                  <input
                                    class="form-control comment-input"
                                    v-model="commentEmail"
                                    placeholder="Leave Your Email Here For Communication."
                                  />
                                </p>
                              </div>
                            </div>
                            <br />
                            <div class="row float-right m-0">
                              <div class="form-group">
                                <button
                                  class="btn btn-primary"
                                  @click="sendcomment(inspector.id, inspector.treats[0].name, inspector.treats[0].species__name, inspector.treats[0].paper__pmid, inspector.treats[0].factor__name, inspector.treats[0].cell_line__name, inspector.treats[0].cell_type__name, inspector.treats[0].cell_pop__name, inspector.treats[0].strain__name, inspector.treats[0].tissue_type__name, inspector.treats[0].disease_state__name, commentContent, commentEmail)"
                                  :disabled="submitDisable"
                                >Submit</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </b-col>
                <b-col cols="3" id="sub-inspector">
                  <div class="row inspector-sub">
                    <div class="col-sm-12">
                      <strong>Quality Control</strong>
                    </div>
                    <div class="col-sm-12">
                      <div class="circle-col">
                        <div
                          class="circle"
                          :class="{green: inspector.qc.judge.fastqc, red: !inspector.qc.judge.fastqc}"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          :class="{green: inspector.qc.judge.map, red: !inspector.qc.judge.map}"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          :class="{green: inspector.qc.judge.pbc, red: !inspector.qc.judge.pbc}"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          :class="{green: inspector.qc.judge.peaks, red: !inspector.qc.judge.peaks}"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          :class="{green: inspector.qc.judge.frip, red: !inspector.qc.judge.frip}"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          :class="{green: inspector.qc.judge.dhs, red: !inspector.qc.judge.dhs}"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="row inspector-sub">
                    <div class="col-sm-12">
                      <strong>Visualize</strong>
                    </div>
                    <div class="col-sm-12">
                      <div>
                        <b-button
                          id="washu"
                          class="inspector-button btn-white"
                          variant="outline-dark"
                          block
                          :href="'http://epigenomegateway.wustl.edu/browser/?genome='+ genomeVersion(inspector.treats[0].species__name) + '&datahub=' + url + 'datahub/'+inspector.id+'&gftk=refGene,full'"
                          target="_blank"
                        >WashU Browser</b-button>
                        <b-button
                          id="ucsc"
                          class="inspector-button"
                          variant="outline-dark"
                          block
                          :href="url + 'hgtext/'+ inspector.id +'/?db=' + genomeVersion(inspector.treats[0].species__name)"
                          target="_blank"
                        >UCSC Browser</b-button>
                      </div>
                    </div>
                  </div>
                  <div class="row inspector-sub">
                    <div class="col-sm-12">
                      <strong>Download</strong>
                    </div>
                    <div class="col-sm-12">
                      <div style="padding-bottom: 10px;">
                        <b-dropdown
                          size="sm"
                          text="BED Peaks"
                          id="dropdown-bedpeaks"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          block
                          variant="outline-dark"
                        >
                          <b-dropdown-item
                            id="bedpeak"
                            :href="url + 'downloads/'+inspector.sign+'b'"
                          >Download to My Computer</b-dropdown-item>
                          <b-dropdown-item href="#" @click="sendbed()" class="inspector-button">
                            Send to Analysis Pipeline
                            <form
                              method="POST"
                              action="http://cistrome.org/ap/tool_runner"
                              id="bed_sender"
                            >
                              <input type="HIDDEN" value="cistrome_cr" name="tool_id" />
                              <input type="HIDDEN" value="bed" name="data_type" />
                              <input
                                type="HIDDEN"
                                :value="url + 'file?type=bed&id='+inspector.id"
                                name="URL"
                              />
                              <input type="HIDDEN" :value="[inspector.id+'_peaks.bed']" name="name" />
                            </form>
                          </b-dropdown-item>
                        </b-dropdown>
                      </div>
                      <div style="padding-bottom: 10px;">
                        <b-dropdown
                          size="sm"
                          text="BIGWIG File"
                          id="dropdown-bigwig"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          block
                          variant="outline-dark"
                        >
                          <b-dropdown-item @click="sendbw()" class="inspector-button">
                            Send to Analysis Pipeline
                            <form
                              method="POST"
                              action="http://cistrome.org/ap/tool_runner"
                              id="bw_sender"
                            >
                              <input type="HIDDEN" value="cistrome_cr" name="tool_id" />
                              <input type="HIDDEN" value="bigwig" name="data_type" />
                              <input
                                type="HIDDEN"
                                :value="url + 'file?type=bw&id='+inspector.id"
                                name="URL"
                              />
                              <input type="HIDDEN" :value="[inspector.id+'.bw']" name="name" />
                            </form>
                          </b-dropdown-item>
                        </b-dropdown>
                      </div>
                      <div style="padding-bottom: 10px;">
                        <b-dropdown
                          size="sm"
                          text="Putative Targets"
                          id="dropdown-put"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          block
                          variant="outline-dark"
                        >
                          <b-dropdown-item
                            class="inspector-button"
                            id="targets"
                            :href="url + 'downloads/'+inspector.sign+'p'"
                          >Send to Analysis Pipeline</b-dropdown-item>
                        </b-dropdown>
                      </div>
                    </div>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>


<script>
import Bus from "@/api/bus.ts";
import Loading from "./loadingAnimate";
import axios from "axios";
export default {
  name: "inspectorPanel",
  components: { Loading },
  data() {
    return {
      isLoading: true,
      url: axios.defaults.baseURL,
      inspector: {
        status: false,
        id: "",
        treats: [{}],
        qc: { judge: {} }
      },
      commentBox: false,
      submitDisable: true,
      commentContent: "",
      commentEmail: ""
    };
  },
  created() {
    this.isLoading = false;
    Bus.$on("inspe_info", res => {
      this.inspector = res;
    });
  },
  methods: {
    sendbed: function() {
      return document.getElementById("bed_sender").submit();
    },
    sendbw: function() {
      return document.getElementById("bw_sender").submit();
    },
    comment: function() {
      this.commentBox = !this.commentBox;
    },
    input_changed: function() {
      this.submitDisable = false;
    },
    sendcomment: function(
      id,
      ctreat,
      cspecies,
      cpmid,
      cfactor,
      ccline,
      cctype,
      ccpop,
      cstrain,
      ctissue,
      cdisease,
      ccontent,
      cemail
    ) {
      this.commentBox = !this.commentBox;
      this.isLoading = true;
      return axios({
        method: "POST",
        data: {
          ids: id,
          treatment: ctreat,
          species: cspecies,
          pmid: cpmid,
          factor: cfactor,
          cellline: ccline,
          celltype: cctype,
          cellpop: ccpop,
          strain: cstrain,
          tissue: ctissue,
          disease: cdisease,
          comment: ccontent,
          email: cemail
        },
        url: this.url + "comment/",
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(res => {
          alert(res.data);
          this.isLoading = false;
        })
        .catch(error => {
          console.warn(error);
          this.isLoading = false;
          this.$root.$bvToast.toast("Sorry for loading failed:(", {
            title: <strong class="mr-auto">Notice!</strong>,
            variant: "warning",
            solid: true
          });
        });
    },
    genomeVersion: function(spe) {
      if (spe == "Homo sapiens") {
        return "hg38";
      } else {
        return "mm10";
      }
    }
  }
};
</script>


<style scoped lang="sass">
@import "../styles/inspectPanel.scss"
</style>


