<template>
  <div>
    <transition name="fade">
      <Loading v-if="isLoading"></Loading>
    </transition>
    <div class="container m">
      <div class="row text-center">
        <div class="col-sm-2" id="contain-word-lab">
          <label>Containing word(s):</label>
        </div>
        <div class="col-sm-4">
          <b-form-input
            size="sm"
            v-model="containwords"
            placeholder="Enter searching words"
            id="EnterKeyWords"
          ></b-form-input>
        </div>
        <div class="col-sm-3">
          <b-button
            id="search-button"
            size="sm"
            class="btn btn-primary btn-block"
            @click="searchword"
          >Search</b-button>
        </div>
        <div class="col-sm-3">
          <b-dropdown
            text="Options"
            class="btn-white"
            size="sm"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            block
            variant="outline-dark"
          >
            <b-dropdown-item @click="getpeakqc()" class="option-item">
              <b-icon icon="check" variant="dark" v-if="pqcSelected"></b-icon>Samples passing peak quality controls
            </b-dropdown-item>
            <b-dropdown-item @click="getallqc()" class="option-item">
              <b-icon icon="check" variant="dark" v-if="aqcSelected"></b-icon>Samples passing all quality controls
            </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </div>
    <div class="container m" style="margin-top: 1rem" id="filter_section" @click="show = true">
      <div class="row">
        <div class="col-md-4">
          <div class="filter">
            <label>
              <b>Species</b>
            </label>
            <select
              size="4"
              class="form-control"
              id="Selectspecies"
              v-model="Selectspeciesoptions"
              @change="getSelect()"
              style="height: 7rem"
            >
              <option value="all">All</option>
              <option
                v-bind:value="species_item"
                v-for="species_item in list.species"
                v-bind:key="species_item.index"
              >{{species_item}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="filter">
            <label>
              <b>Biological Source</b>
            </label>
            <select
              size="4"
              class="form-control"
              id="Selectcellinfo"
              v-model="Selectcellinfooptions"
              @change="getSelect()"
              style="height: 7rem"
            >
              <option value="all">All</option>
              <option
                v-bind:value="cellinfo_item"
                v-for="cellinfo_item in list.cellinfos"
                v-bind:key="cellinfo_item.index"
              >{{cellinfo_item[1]}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="filter">
            <label>
              <b>Factors</b>
            </label>
            <select
              size="4"
              class="form-control"
              id="Selectfactor"
              v-model="Selectfactoroptions"
              @change="getSelect()"
              style="height: 7rem"
            >
              <option value="all">All</option>
              <option
                v-bind:value="factor_item"
                v-for="factor_item in list.factors"
                v-bind:key="factor_item.index"
              >{{factor_item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default" id="result-panel">
            <div class="panel-heading">
              <h2>Results</h2>
            </div>
            <div>
              <table class="table table-bordered table-hover" id="dataset-table">
                <thead>
                  <tr>
                    <th style="width: 5%">Batch</th>
                    <th
                      @click="sort('specie')"
                      style="width: 10%"
                      @mouseover="spehover = true"
                      @mouseleave="spehover = false"
                    >
                      <span>Species</span>
                      <b-icon
                        icon="chevron-expand"
                        variant="dark"
                        v-if="spehover"
                        scale="1.5"
                        shift-v="-3"
                        class="float-right"
                      ></b-icon>
                    </th>
                    <th
                      @click="sort('bs')"
                      style="width: 30%"
                      @mouseover="bshover = true"
                      @mouseleave="bshover = false"
                    >
                      <span>Biological Source</span>
                      <b-icon
                        icon="chevron-expand"
                        variant="dark bold"
                        v-if="bshover"
                        scale="1.5"
                        shift-v="-3"
                        class="float-right"
                      ></b-icon>
                    </th>
                    <th
                      @click="sort('factor')"
                      style="width: 10%"
                      @mouseover="fahover = true"
                      @mouseleave="fahover = false"
                    >
                      <span>Factor</span>
                      <b-icon
                        icon="chevron-expand"
                        variant="dark bold"
                        v-if="fahover"
                        scale="1.5"
                        shift-v="-3"
                        class="float-right"
                      ></b-icon>
                    </th>
                    <th
                      @click="sort('pub')"
                      style="width: 30%"
                      @mouseover="pubhover = true"
                      @mouseleave="pubhover = false"
                    >
                      <span>Publication</span>
                      <b-icon
                        icon="chevron-expand"
                        variant="dark bold"
                        v-if="pubhover"
                        scale="1.5"
                        shift-v="-3"
                        class="float-right"
                      ></b-icon>
                    </th>
                    <th style="width: 15%">Quality Control</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in list.datasets" :key="item.index">
                    <td :style="changeWatchingBgColor(item.id)">
                      <input
                        type="checkbox"
                        :value="item"
                        v-model="batchIds"
                        @change="batchToast"
                        :disabled="checkboxDisable(item.species__name)"
                      />
                    </td>
                    <td
                      v-text="item.species__name"
                      @click="dataInfo(item.id)"
                      :style="changeWatchingBgColor(item.id)"
                    ></td>
                    <td
                      v-text="item.biological_source"
                      @click="dataInfo(item.id)"
                      :style="changeWatchingBgColor(item.id)"
                    ></td>
                    <td
                      v-text="item.factor__name"
                      @click="dataInfo(item.id)"
                      :style="changeWatchingBgColor(item.id)"
                    ></td>
                    <td
                      v-text="item.paper__pub_summary"
                      @click="dataInfo(item.id)"
                      :style="changeWatchingBgColor(item.id)"
                    ></td>
                    <td id="qc-circles" :style="changeWatchingBgColor(item.id)">
                      <div class="circle-col">
                        <div
                          class="circle"
                          id="tooltip-target-1"
                          :class="{green: item.qc_judge.fastqc, red: !item.qc_judge.fastqc}"
                          data-toggle="tooltip"
                          data-html="true"
                          data-placement="auto"
                          v-b-tooltip.hover.html="tipsmethodSQ"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          id="tooltip-target-2"
                          :class="{green: item.qc_judge.map, red: !item.qc_judge.map}"
                          data-toggle="tooltip"
                          data-html="true"
                          data-placement="auto"
                          v-b-tooltip.hover.html="tipsmethodMPQ"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          id="tooltip -target-3"
                          :class="{green: item.qc_judge.pbc, red: !item.qc_judge.pbc}"
                          data-toggle="tooltip"
                          data-html="true"
                          data-placement="auto"
                          v-b-tooltip.hover.html="tipsmethodPBC"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          id="tooltip-target-4"
                          :class="{green: item.qc_judge.peaks, red: !item.qc_judge.peaks}"
                          data-toggle="tooltip"
                          data-html="true"
                          data-placement="auto"
                          v-b-tooltip.hover.html="tipsmethodCHE"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          id="tooltip-target-5"
                          :class="{green: item.qc_judge.frip, red: !item.qc_judge.frip}"
                          data-toggle="tooltip"
                          data-html="true"
                          data-placement="auto"
                          v-b-tooltip.hover.html="tipsmethodFRiP"
                        ></div>
                      </div>
                      <div class="circle-col">
                        <div
                          class="circle"
                          id="tooltip-target-6"
                          :class="{green: item.qc_judge.dhs, red: !item.qc_judge.dhs}"
                          data-toggle="tooltip"
                          data-html="true"
                          data-placement="auto"
                          v-b-tooltip.hover.html="tipsmethodDHS"
                        ></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12" form-inline id="change-page">
                <div class="container m" style="margin-top: 1rem" id="page-button">
                  <div class="text-center form-inline col justify-content-center" id="pagination">
                    <b-button
                      size="sm"
                      type="button"
                      class="btn btn-outline-secondary"
                      @click="prePage()"
                      :disabled="isPrevDisabled"
                      variant="outline-dark"
                    >
                      <b-icon icon="chevron-double-left"></b-icon>Prev
                    </b-button>
                    <span class="align-baseline" id="page">Page</span>
                    <b-input
                      size="sm"
                      id="EnterPageNumber"
                      class="form-control"
                      aria-label="Input group example"
                      v-model="inputnum"
                      aria-describedby="btnGroupAddon"
                      :placeholder="curPage"
                      style="width:4rem"
                    />
                    <div>
                      <b-button
                        type="button"
                        size="sm"
                        class="btn btn-success"
                        id="goto-page-button"
                        @click="gotoPage()"
                        :disabled="gotoPageDisabled"
                      >
                        <b-icon font-scale="1.2" style="color: #EFEFEF" icon="play-fill"></b-icon>
                      </b-button>
                    </div>
                    <span class="align-baseline" id="of">of</span>
                    <div class="top-align" id="num-pages">{{list.num_pages}}</div>
                    <div>
                      <b-button
                        size="sm"
                        type="button"
                        class="btn btn-outline-secondary"
                        variant="outline-dark"
                        id="goto-page-button"
                        :disabled="isNextDisabled"
                        @click="nextPage()"
                      >
                        Next
                        <b-icon icon="chevron-double-right"></b-icon>
                      </b-button>
                    </div>
                  </div>
                </div>
                <div class="container m">
                  <div class="text-center form-inline col justify-content-center">
                    <div v-if="batchIds.length">
                      <b-button-group>
                        <b-button
                          size="sm"
                          variant="outline-dark"
                          @click="uncheck()"
                        >Clear Selection</b-button>
                        <b-button
                          size="sm"
                          variant="outline-dark"
                          v-bind:href="url+'batchview/'+genomeVersion(batchIds[0].species__name)+'/'+getID()+'/w/'"
                          target="_blank"
                          :disabled="broswerDisabled"
                        >WashU Browser</b-button>
                        <b-button
                          size="sm"
                          variant="outline-dark"
                          v-bind:href="url+'batchview/'+genomeVersion(batchIds[0].species__name)+'/'+getID()+'/u/'"
                          target="_blank"
                          :disabled="broswerDisabled"
                        >UCSC Browser</b-button>
                      </b-button-group>
                    </div>
                    <div v-else>
                      <b-button-group>
                        <b-button size="sm" variant="outline-dark" disabled>Clear Selection</b-button>
                        <b-button
                          size="sm"
                          variant="outline-dark"
                          target="_blank"
                          disabled
                        >WashU Browser</b-button>
                        <b-button
                          size="sm"
                          variant="outline-dark"
                          target="_blank"
                          disabled
                        >UCSC Browser</b-button>
                      </b-button-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Bus from "../api/bus.ts";
import Loading from "./loadingAnimate";

export default {
  name: "resulttable",
  components: { Loading },
  data() {
    return {
      isLoading: true,
      pqcSelected: false,
      aqcSelected: false,
      spehover: false,
      bshover: false,
      fahover: false,
      pubhover: false,
      broswerDisabled: false,
      containwords: "",
      inputnum: "",
      Selectspeciesoptions: "all",
      Selectfactoroptions: "all",
      Selectcellinfooptions: "all",
      batchSpecies: "",
      watchingId: "",
      list: [],
      datas: {},
      batchIds: [],
      ids: [],
      url: axios.defaults.baseURL,
      curPage: "1",
      queryParams: {
        allqc: false,
        cellinfos: "all",
        colsort: "",
        completed: false,
        curated: false,
        factors: "all",
        keyword: "",
        page: 1,
        peakqc: false,
        run: false,
        species: "all"
      }
    };
  },
  created() {
    this.getData();
  },
  computed: {
    isPrevDisabled() {
      return !(this.queryParams.page > 1);
    },
    isNextDisabled() {
      return Number(this.queryParams.page) === this.list.num_pages;
    },
    gotoPageDisabled() {
      return this.inputnum == "";
    },
    tipsmethodPBC() {
      return "<b style='color:rgb(69,122,178)'>Library Complexity:</b><br>PCR bottleneck coefficient (PBC)";
    },
    tipsmethodMPQ() {
      return "<b style='color:rgb(69,122,178)'>Mapping Quality:</b><br>Uniquely mapped ratio";
    },
    tipsmethodSQ() {
      return "<b style='color:rgb(69,122,178)'>Sequence Quality:</b><br>Raw sequence median quality score and raw read GC contents";
    },
    tipsmethodCHE() {
      return "<b style='color:rgb(69,122,178)'>ChIP enrichment:</b><br>Sufficient number of peaks(above 500) with good enrichment(10 fold change)";
    },
    tipsmethodFRiP() {
      return "<b style='color:rgb(69,122,178)'>Signal to Noise Ratio:</b><br>Fraction of reads in peaks (FRiP)";
    },
    tipsmethodDHS() {
      return "<b style='color:rgb(69,122,178)'>Regulatory Region:</b><br>DNase-seq union hypersensitive sites (DHS) overlapped ratio in top 5000 peaks";
    }
  },
  methods: {
    // query data from backend
    getData() {
      this.isLoading = true;
      // hide inspector and result panel
      Bus.$emit("inspe_info", {status:false});
      return axios({
        url: "main_filter_ng",
        method: "get",
        params: this.queryParams
      })
        .then(response => {
          this.list = response.data;
          this.isLoading = false;
        })
        .catch(error => {
          console.warn(error);
          this.isLoading = false;
          this.showToast("Notice!", "Sorry for loading failed :(", "warning");
        });
    },
    // filter result
    getSelect() {
      this.isLoading = true;
      this.queryParams.factors = this.Selectfactoroptions;
      this.queryParams.species = this.Selectspeciesoptions;
      this.queryParams.cellinfo = this.Selectcellinfooptions;
      this.getData();
    },
    searchword() {
      this.queryParams.keyword = this.containwords;
      this.getData();
    },
    getpeakqc() {
      if (this.pqcSelected == false) {
        this.aqcSelected = false;
        this.pqcSelected = true;
        this.queryParams.allqc = "false";
        this.queryParams.peakqc = "true";
        this.getData();
      } else {
        this.queryParams.peakqc = "false";
        this.pqcSelected = false;
        this.getData();
      }
    },
    getallqc() {
      if (this.aqcSelected == false) {
        this.pqcSelected = false;
        this.aqcSelected = true;
        this.queryParams.peakqc = "false";
        this.queryParams.allqc = "true";
        this.getData();
      } else {
        this.queryParams.allqc = "false";
        this.aqcSelected = false;

        this.getData();
      }
    },
    sort: function(item) {
      this.queryParams.colsort = item;
      this.getData();
    },
    // page navigator
    prePage: function() {
      this.queryParams.page--;
      this.getData();
      this.curPage = String(this.queryParams.page);
      this.inputnum = "";
    },
    nextPage: function() {
      this.queryParams.page++;
      this.getData();
      this.curPage = String(this.queryParams.page);
      this.inputnum = "";
    },
    gotoPage: function() {
      if (
        this.inputnum <= this.list.num_pages &&
        /^[0-9]*$/.test(this.inputnum)
      ) {
        this.queryParams.page = this.inputnum;
        this.getData();
        this.curPage = String(this.list.request_page);
        this.inputnum = "";
      } else {
        this.curPage = String(this.list.request_page);
        this.inputnum = "";
        this.showToast("Warning!", "Invalid page number!", "danger");
      }
    },
    // get inspector result
    dataInfo: function(ids) {
      this.isLoading = true;
      this.watchingId = ids;
      axios.get("inspector?id=" + ids).then(response => {
        Bus.$emit("inspe_info", response.data);
        this.isLoading = false;
      });
      axios.get("putative_target_ng?id=" + ids).then(response => {
        Bus.$emit("target_info", response.data);
        this.isLoading = false;
      });
    },
    changeWatchingBgColor: function(id) {
      // console.log(this.watchingId);
      if (id == this.watchingId) {
        return "background-color:rgb(110,191,229); color: white";
      } else {
        return "";
      }
    },
    // batch
    uncheck() {
      this.batchIds = [];
      this.showToast("Notice!", "Removed all items!", "warning");
      this.batchSpecies = "";
    },
    batchToast(ev) {
      if (ev.target.checked) {
        if (
          this.batchIds[this.batchIds.length - 1].species__name !=
          this.batchIds[0].species__name
        ) {
          // this branch has been deprecated
          this.showToast(
            "Warning!",
            "Species not consistent, this dataset will not load!",
            "danger"
          );
          this.batchIds.pop();
          this.batchlistlength = this.batchIds.length;
        } else {
          this.showToast("Notice!", "Loading into batch view list!", "success");
          this.batchSpecies = this.batchIds[0].species__name;
          this.batchlistlength = this.batchIds.length;
        }
      } else if (this.batchIds.length < this.batchlistlength) {
        this.showToast(
          "Notice!",
          "Removed one item from batch view list!",
          "warning"
        );
        if (this.batchIds.length == 0) {
          this.batchSpecies = "";
          this.showToast("Notice!", "Removed all items!", "warning");
        }
      }
    },
    checkboxDisable: function(sp_name) {
      if (this.batchSpecies == "") {
        return false;
      } else {
        if (sp_name != this.batchSpecies) {
          return true;
        } else {
          return false;
        }
      }
    },
    genomeVersion: function(spe) {
      if (spe == "Homo sapiens") {
        return "h";
      } else {
        return "m";
      }
    },
    getID: function() {
      let bid = "";
      this.batchIds.map(item => {
        bid += item.id + "_";
      });
      bid = bid.substring(0, bid.length - 1);
      return bid;
    },
    // toast function
    showToast: function(title, content, color) {
      this.$bvToast.toast(content, {
        title: title,
        variant: color,
        solid: true
      });
    }
  }
};
</script>


<style scoped lang="sass">
@import "../styles/resulttable.scss"
</style>

