<template>
    <div class="container" style="margin-top: 0rem" id="app">
      <div class="row">
        <div class="col-sm-12" style="margin-bottom: 1rem">
          <div class="panel rounded" style="background-color: #dfdfdf">
            <div
              class="m-1 pt-2"
              style="padding-left: 1rem; margin: 0.5rem; overflow:auto; height: 7rem"
            >
              <p style="margin: 0rem;text-align: center">
                <b-icon icon="info-circle-fill" variant="success"></b-icon>
                <b class="pl-1">Tips</b>
              </p>
              <p class="tips-info">
                ● We have twitter now! Follow our twitter
                <a
                  href="https://twitter.com/Cistromedb"
                  target="_blank"
                >@Cistromedb</a>! ;-)
              </p>
              <p class="tips-info">
                ● Check what factors regulate your gene of interest, what factors bind
                in your interval or have a significant binding overlap with your peak set. Have a try at
                <a
                  href="http://dbtoolkit.cistrome.org/"
                  target="_blank"
                >Cistrome Toolkit</a>.
              </p>
              <p class="tips-info">
                ● If you have a
                <b>T</b>ranscription
                <b>F</b>actor
                ChIP-seq (and TF
                perturbed expression) data,
                <a
                  href="http://go.cistrome.org/"
                  target="_blank"
                >Cistrome-GO</a> help you predict the function of this TF.
              </p>
              <p class="tips-info">
                ● Please help us curate the samples which has
                incorrect meta-data
                annotation by clicking the button on the inspector page. Thank you!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>


<script>
  export default {
    name: "Tips",
    components: {}
  };
</script>


<style scoped lang="sass">
@import "../styles/home.scss"
</style>