<template>
  <div class="container">
    <transition name="fade">
      <Loading v-if="isLoading"></Loading>
    </transition>
    <div class="row" v-if="inspector.status">
      <div class="col-sm-12">
        <div class="panel panel-default" id="tools-panel">
          <div class="panel-heading">
            <h2>Tools</h2>
          </div>
          <div class="panel-body">
            <div>
              <b-tabs content-class="mt-3" v-model="tabIndex" justified>
                <b-tab
                  title="QC reports"
                  active
                  @click="setTools('qc')"
                  :class="{active: tools.qc}"
                >
                  <a href="#qc_reports"></a>
                </b-tab>
                <b-tab
                  title="QC motifs"
                  v-if="inspector.motif"
                  @click="setTools('motif')"
                  :class="{active: tools.motif}"
                >
                  <a href="#motif_html"></a>
                </b-tab>
                <b-tab
                  title="Get top putative targets"
                  @click="setTools('gtargets')"
                  :class="{active: tools.gtargets}"
                >
                  <a href="#getTarget"></a>
                </b-tab>
                <b-tab
                  title="Check a putative target"
                  @click="setTools('ctargets')"
                  :class="{active: tools.ctargets}"
                >
                  <a href="#checkTarget"></a>
                </b-tab>
              </b-tabs>
            </div>
            <div class="tab-content">
              <div class="tool-content pl-2 pr-2 pb-2" v-if="tools.qc">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th style="width:50%">
                        <b>QC</b>
                      </th>
                      <th style="width:50%">
                        <b>Sample</b>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="table-row align-middle">Raw sequence median quality score</td>
                      <td class="table-row align-middle">{{ inspector.qc.table.fastqc[0] }}</td>
                    </tr>
                    <tr>
                      <td class="table-row align-middle">% Reads uniquely mapped</td>
                      <td class="table-row align-middle">{{ inspector.qc.table.map[0] }}</td>
                    </tr>
                    <tr>
                      <td class="table-row align-middle">PCR bottleneck coefficient (PBC)</td>
                      <td class="table-row align-middle">{{ inspector.qc.table.pbc[0] }}</td>
                    </tr>
                    <tr>
                      <td
                        class="table-row align-middle"
                      >Number of merged Total/Fold 10/Fold 20 peaks</td>
                      <td
                        class="table-row align-middle"
                      >{{ inspector.qc.table.peaks[0] }} / {{ inspector.qc.table.peaks[1] }} / {{ inspector.qc.table.peaks[2] }}</td>
                    </tr>
                    <tr>
                      <td class="table-row align-middle">Fraction of reads in peaks (FRiP)</td>
                      <td class="table-row align-middle">{{ inspector.qc.table.frip[0] }}</td>
                    </tr>
                    <tr>
                      <td class="table-row align-middle">% Peaks in promoter/exon/intron/intergenic</td>
                      <td class="table-row align-middle">{{ inspector.qc.table.meta[0] }}</td>
                    </tr>
                    <tr>
                      <td class="table-row align-middle">% Top 5k peaks overlapping with union DHS</td>
                      <td class="table-row align-middle">{{ inspector.qc.table.dhs }}</td>
                    </tr>
                    <tr>
                      <td class="align-middle">% Top 5k peaks Phastcon Conservation Profiles</td>
                      <img
                        class="mx-auto d-block"
                        :src="['http://dc2.cistrome.org/api/conserv?id='+inspector.id]"
                        height="350"
                        width="350"
                      />
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tool-content pl-2 pr-2 pb-2" v-if="tools.motif">
                <iframe
                  frameborder="0"
                  class="col-sm-12"
                  :src="['http://dc2.cistrome.org/'+inspector.motif_url]"
                  height="600"
                ></iframe>
              </div>
              <div class="tool-content pl-2 pr-2 pb-2" v-if="tools.gtargets">
                <table class="table table-striped table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th>Gene</th>
                      <th>Score</th>
                      <th>Coordinate</th>
                      <th>Visualize</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="target in targets" :key="target.index">
                      <td class="target-table-row">{{target.symbol}}</td>
                      <td class="target-table-row">{{target.score}}</td>
                      <td class="target-table-row">{{target.coordinate}}</td>
                      <td
                        class="target-table-row"
                        v-if="inspector.treats[0].species__name == 'Homo sapiens'"
                      >
                        <a
                          target="_blank"
                          :href="['http://epigenomegateway.wustl.edu/browser/?genome=hg38&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+target.coordinate]"
                        >WashU</a> &nbsp;
                        <a
                          target="_blank"
                          :href="'http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=hg38&position='+target.coordinate"
                        >UCSC</a>
                      </td>
                      <td class="target-table-row" v-else>
                        <a
                          target="_blank"
                          :href="'http://epigenomegateway.wustl.edu/browser/?genome=mm10&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+target.coordinate"
                        >WashU</a> &nbsp;
                        <a
                          target="_blank"
                          :href="'http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=mm10&position='+target.coordinate"
                        >UCSC</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tool-content pl-2 pr-2 pb-2" v-if="tools.ctargets">
                <div class="row">
                  <div class="col-sm-12">
                    <input
                      v-model="inputText"
                      placeholder="Search Genes"
                      class="form-control"
                      @input="showGene()"
                    />
                  </div>
                  <!-- <div class="col-sm-6" v-if="genes.hits">
                    <b-dropdown
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      block
                      variant="outline-secondary"
                    >
                      <b-dropdown-item 
                      v-for="gene in genes.hits"
                      :key="gene.index"
                      @click="goTarget(gene.symbol, inspector.id)">
                      {{gene.symbol}}
                      </b-dropdown-item>
                    </b-dropdown>
                  </div>-->
                  <div class="col-sm-12 dropdown" v-if="active">
                    <div
                      class="complete-row pl-3 py-1 rounded"
                      v-for="gene in genes.hits"
                      :key="gene.index"
                      @click="goTarget(gene.symbol, inspector.id)"
                      onmouseover="this.style.background='rgb(110,191,229)';this.style.color='white';this.style.textDecoration='bold'"
                      onmouseout="this.style.background='white';this.style.color='black';this.style.textDecoration='none'"
                    >{{gene.symbol}} / {{gene.name}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12" style="padding-top: 15px;">
                    <table class="table table-striped table-bordered table-condensed">
                      <thead>
                        <tr>
                          <th>Gene</th>
                          <th>Score</th>
                          <th>Coordinate</th>
                          <th>Visualize</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="ctarget in ctargets" :key="ctarget.index">
                          <td>{{ctarget.symbol}}</td>
                          <td>{{ctarget.score}}</td>
                          <td>{{ctarget.coordinate}}</td>
                          <td v-if="inspector.treats[0].species__name == 'Homo sapiens'">
                            <a
                              target="_blank"
                              :href="['http://epigenomegateway.wustl.edu/browser/?genome=hg38&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+ctarget.coordinate]"
                            >WashU</a> &nbsp;
                            <a
                              target="_blank"
                              :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=hg38&position='+ctarget.coordinate]"
                            >UCSC</a>
                          </td>
                          <td v-else>
                            <a
                              target="_blank"
                              :href="['http://epigenomegateway.wustl.edu/browser/?genome=mm10&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+ctarget.coordinate]"
                            >WashU</a> &nbsp;
                            <a
                              target="_blank"
                              :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=mm10&position='+ctarget.coordinate]"
                            >UCSC</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
        

<script>
import axios from "axios";
import Bus from "../api/bus.ts";
import Loading from "./loadingAnimate";
export default {
  name: "toolPanel",
  components: { Loading },
  data() {
    return {
      url: axios.defaults.baseURL,
      tabIndex: 0,
      active: true,
      inspector: {
        status: false,
        qc: {
          judge: {},
          table: {
            fastqc: [],
            frip: [],
            map: [],
            pbc: [],
            peaks: [],
            meta: []
          }
        }
      },
      targets: {},
      tools: {
        qc: true,
        motif: false,
        gtargets: false,
        ctargets: false
      },
      inputText: "",
      genes: {},
      ctargets: [],
      isLoading: false
    };
  },
  mounted() {
    Bus.$on("inspe_info", res => {
      this.inspector = res;
      this.tabIndex = 0;
      this.tools = { qc: true, motif: false, gtargets: false, ctargets: false };
    });
    Bus.$on("target_info", res => {
      this.targets = res;
      this.tabIndex = 0;
      this.tools = {
        qc: true,
        motif: false,
        gtargets: false,
        ctargets: false
      };
    });
  },
  methods: {
    setTools: function(choose) {
      for (const item in this.tools) {
        this.tools[item] = false;
      }
      this.tools[choose] = true;
    },
    showGene: function() {
      this.active = true;
      this.isLoading = true;
      if (this.inspector.treats[0].species__name == "Homo sapiens") {
        axios
          .get(
            "http://mygene.info/v2/query?fields=symbol%2Cname&species=human&q=" +
              this.inputText
          )
          .then(response => {
            this.genes = response.data;
            this.isLoading = false;
          })
          .catch(error => {
            console.warn(error);
            this.isLoading = false;
            this.$root.$bvToast.toast("Sorry for loading failed:(", {
              title: <strong class="mr-auto">Notice!</strong>,
              variant: "warning",
              solid: true
            });
          });
      } else {
        axios
          .get(
            "http://mygene.info/v2/query?fields=symbol%2Cname&species=mouse&q=" +
              this.inputText
          )
          .then(response => {
            this.genes = response.data;
            this.isLoading = false;
          })
          .catch(error => {
            console.warn(error);
            this.isLoading = false;
            this.$root.$bvToast.toast("Sorry for loading failed:(", {
              title: <strong class="mr-auto">Notice!</strong>,
              variant: "warning",
              solid: true
            });
          });
      }
    },
    goTarget: function(gene, ids) {
      this.active = false;
      this.isLoading = true;
      axios
        .get(
          "putative_target_ng?gene=" +
            gene +
            "&id=" +
            ids
        )
        .then(response => {
          this.ctargets = response.data;
          this.isLoading = false;
        })
        .catch(error => {
          console.warn(error);
          this.isLoading = false;
          this.$root.$bvToast.toast("Sorry for loading failed:(", {
            title: <strong class="mr-auto">Notice!</strong>,
            variant: "warning",
            solid: true
          });
        });
      this.inputText = "";
    }
  }
};
</script>      



<style scoped lang="sass">
@import "../styles/toolPanel.scss"
</style>


