<template>
  <div id="app" class="no-padding">
    <div class="container-fluid no-padding" id="navbarContainer">
      <div class="container" id="navbar">
        <nav class="navbar navbar-expand">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://cistrome.org/db">Cistrome Data Browser</a>
          </div>
          <div class="navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <router-link class="nav-link" to="/">Home</router-link>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <router-link class="nav-link" to="/documents">Documentation</router-link>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <router-link class="nav-link" to="/about">About</router-link>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <router-link class="nav-link" to="/stat">Statistics</router-link>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <router-link class="nav-link" to="/bdown">Batch download</router-link>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a class="nav-link" href="http://dbtoolkit.cistrome.org" target="_blank">ToolKit</a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a class="nav-link" href="http://go.cistrome.org" target="_blank">Cistrome-GO</a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a class="nav-link" href="http://liulab.dfci.harvard.edu/" target="_blank">Liu Lab</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="bs-docs-header">
      <div class="container">
        <h1>
          <img style="vertical-align:center; width:10%;height:10%" src="./assets/cistrome_logo.png" />
          <span class="pl-3">Cistrome Data Browser</span>
        </h1>
      </div>
    </div>
    <router-view />
  </div>
</template>



<style scoped lang="sass">
@import "./styles/header.scss"
</style>
